@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: black;
}

#aboutme {
    margin: 5%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
}