@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f5f7
}

#Main-Header{
	color: black;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	padding-top: 0px auto;
	padding-left: 0px;
	border-bottom: 1px solid black;
	padding-bottom: 10px 10px;
	margin: 0;
	display: flex;
	position: sticky;
	top: 0;
	box-shadow: 0px 27px 23px -1px rgba(0,0,0,0.10)
}

#Header-Nav {
	list-style: none;
	align-content: center;
}

#Header-Nav li {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

#Header-Nav li:hover {
	color: black;
	border: 1px solid black;
	border-radius: 60px;
}


#Header-Title {
	text-align: left;
	align-content: left;
	margin-left: 10px;
}

#Header-Title span {
	background-color: black;
	color: white;
	padding: 1.5px;
}

#Header-Title img {
	position: absolute;
}

#Header-Title p{
}


#Header-Icon{
	float: left;
}

#Header-Nav ul li{
	display: inline;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	color: black;
}

#Header-Nav a {
	text-decoration: none;
	color: black;
}



#headline-logo {
	filter: invert();
}

#Banner-Info {
	font-family: "Montserrat", sans-serif;
	background-color: black;
	padding: 1px;
	color: white;
	display: flex;
}

.info-icon {
	filter: invert();
	margin: 5px;
}

.info-text {
	margin-left: 5px;
}

.info-text span {
	padding: 2px;
	background-color: white;
	color: black;
}

#projects {
	padding-top: 20px;
}

#Projects-Banner {
	text-align: center;
	justify-content: center;
	background: linear-gradient(#1F1F1F, #474747);
	font-family: "Montserrat", sans-serif;
	color: white;
	padding: 10px;
	height: 80vh;
}

#Projects-Banner h1 {
	font-family: 'Righteous', cursive;;
	font-size: 65px;
	padding-bottom: 10px;
	margin-top: 60px;

}

#About-preview{
	margin: 12px;
}

#main-learn-more {
	margin-bottom: 10px;
	background-color: none;
	border: 1px white solid;
	color: white;
	border-radius: 60px;

}

#main-learn-more:hover {
	background-color: rgba(256, 256, 256, 0.5);
}

#main-download-button {
	background-color: white;
	color: black;
	border-radius: 60px;
}

#main-download-button:hover {
	background-color: black;
	color: white;
	border: 1px solid white;
}

#banner-buttons-section {
	margin: 10px;
}

#banner-buttons-section a{
	padding: 10px;
	margin: 10px;
	text-decoration: none;
}



#mini-biography {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	margin: 20px;
	border-top: 1px solid #868686;
}

#mini-biography h3 {
	font-size: 30px;
}

.section-info {
	font-family:  'Montserrat', sans-serif;
	color: #868686;
}

#projects {
	font-family:'Montserrat', sans-serif;
	padding-left: 10px;
}


footer {
	font-family: 'Montserrat', sans-serif;
	color: #B4B4B4;
	padding-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	padding: 5px;
	border-top: 1px solid #B4B4B4;
}

.separator {
	margin: 10px 10px 10px 10px;
	padding: 20px;
}

.article-icon {
	margin-top: 20px;
}

#article-header {

	text-align: center;
	border-bottom: 1px solid black;

}

.article-title {
	text-align: center;
	font-size: 50px;
}


.article-subtitle {
	font-size: 25px;
}

.article-date {
	font-size: 12.5px;
}

.centered-product-info {
	text-align: center;
}

#projects {
	margin: 20px;
}

.projects-cards {
	display: flex;
}

.project-card {
	margin: 20px;
	padding: 20px;
	width: 40%;
	background-color: white;
	box-shadow: 41px 37px 23px -24px rgba(0,0,0,0.2);
	border-color: black;
	border: 1px solid none;
	border-radius: 20px;

}

.learn-more {
	font-size: 12px;
	background-color: black;
	border: 0.5px solid black;
	border-radius: 60px;
	text-decoration: none;
	padding: 5px;
	color: white;
}

.github-link {
	font-size: 12px;
	background-color: black;
	border: 0.5px solid black;
	border-radius: 60px;
	text-decoration: none;
	padding: 5px;
	color: white;
}

.github-link:hover {
	background-color: white;
	border: 0.5px solid black;
	border-radius: 60px;
	color: black;
}

.project-card-icon {
	width: 48px;
	height: 48px;
}

.blog-article-icon {
	width: 48px;
	height: 48px;
}

#blog-introduction {
	margin: 20px;
}

#blog-introduction h1 {
	font-size: 36px;
}

#blog-articles-list {
	margin: 20px;
}

.blog-article {
	margin-top: 10px;
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 41px 37px 23px -24px rgba(0,0,0,0.2);
}

.blog-article:hover {
	border: 1px solid #0C0C0C
}

.article-type {
	color: #BCBCBC;
}

.article-headline-preview {
	display: flex;
	padding: 5px;
}

.Under-Construction {
	margin: 40px;
	text-align: center;
}

.Under-Construction h1{
	font-size: 40px;
}

.Under-Construction h1 span{
	background-color: black;
	color: white;
}